# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Credenciais e Dados Sensíveis
.env
config.py
credenciais.json
secrets.txt

# Banco de Dados
*.db
*.sqlite

# Sistema
.DS_Store
Thumbs.db

# Dados Locais (Opcional - remova se quiser subir os CSVs de exemplo)
*.csv